<main class="lists" ng-class="{ 'copymode-active': main.copyModeActive }">

    <nav class="top-nav" ng-if="!main.copyModeActive">
        <div class="list-nav">
            <strong>Jump to list: </strong>
            <a ng-repeat="list in main.$storage.lists track by $index" ng-click="main.scrollTo(list.id)">{{list.name}}</a>
        </div>

        <button class="btn btn--primary" ng-click="main.addList()">Add list</button>
    </nav>

    <div class="no-lists" ng-class="{ 'active': main.$storage.lists.length == 0 }">
        <h1>You currently don't have any lists</h1><button class="btn" ng-click="main.addList()">Create one</button>
    </div>

    <div class="list" ng-repeat="list in main.$storage.lists track by $index">
        <header class="list__header" id="{{list.id}}">
            <input class="input list__name" type="text" placeholder="List name" ng-model="list.name">
            <span class="list__total">{{main.listTotal(list.id)}}</span>
        </header>

        <div class="list-buttons">
            <button class="btn btn--primary" ng-click="main.addUnit(list.id)">Add unit</button>
            <button class="btn" ng-click="main.copyMode(list.id)">Copy mode</button>
            <button class="btn" ng-click="main.duplicateList(list.id)">Duplicate</button>
            <button class="btn btn--warning-subtle" ng-click="main.removeList(list.id)">Remove list</button>
        </div>

        <ul class="units" dnd-list="list.units">
            <li class="unit" ng-repeat="unit in list.units" dnd-draggable="unit" dnd-nodrag dnd-effect-allowed="move"
                dnd-moved="list.units.splice($index, 1)">

                <div class="unit__inputs-container" dnd-nodrag>
                  <input class="input unit__type" type="text" ng-model="unit.type" placeholder="Unit type" ng-class="{'empty': unit.type.length < 0}" pu-elastic-input>

                  <input class="input unit__name" type="text" ng-model="unit.name" placeholder="Unit name" pu-elastic-input>

                  <span class="delete unit__delete" ng-click="main.removeUnit(list.id, unit.id)">
                      <i class="icon ion-close-round icon--interactive"></i>
                  </span>

                  <input class="input points unit__points" type="number" min="0" placeholder="0" ng-model="unit.points" pu-elastic-input>

                  <ul class="wargear">
                      <li class="wargear__item" ng-repeat="item in unit.wargear">
                          <input class="input wargear__name" type="text" ng-model="item.name" placeholder="Wargear name" pu-elastic-input>

                          <span class="delete wargear__delete" ng-click="main.removeWargear(list.id, unit.id, item.id)">
                              <i class="icon ion-close-round icon--interactive"></i>
                          </span>

                          <input class="input points wargear__points" type="number" placeholder="0" ng-model="item.points" pu-elastic-input>
                      </li>
                  </ul>

                  <footer class="unit__footer">
                    <span ng-click="main.addWargear(list.id, unit.id)" title="Add wargear">
                      <i class="icon ion-plus-round icon--interactive"></i>
                    </span>

                    <span dnd-handle title="Drag and drop to rearrange">
                      <i class="icon ion-arrow-move icon--interactive"></i>
                    </span>
                  </footer>
                </div>
            </li>
        </ul>
    </div>
</main>

<!--<aside class="sidebar" ng-if="!main.copyModeActive && main.$storage.lists.length > 0">-->
    <!--<ul class="list-nav">-->
        <!--<li ng-repeat="list in main.$storage.lists track by $index">&raquo; <a ng-click="main.scrollTo(list.id)">{{list.name}}</a></li>-->
    <!--</ul>-->

    <!--<button class="btn" ng-click="main.addList()">Add list</button>-->

    <!--<small>Drag and drop units to reposition them.</small>-->
<!--</aside>-->

<section class="copy-mode-container" ng-class="{ 'copymode-active': main.copyModeActive }">
    <div class="container">
        <div class="close-copy-mode" ng-click="main.exitCopyMode()">Exit</div>

        <h3>{{main.copyModeList.name}} - <strong>{{main.listTotal(main.copyModeList.id)}}p</strong></h3>
        <span ng-repeat="unit in main.copyModeList.units">
            {{unit.type}} - {{unit.name}} - <strong>{{unit.points}}p</strong><br>
            <span ng-repeat="wargear in unit.wargear">
                <small>{{wargear.name}} - <strong>{{wargear.points}}p</strong></small><br>
            </span><br>
        </span>
    </div>
</section>
