*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background: $bg-color;
	color: $text-color;
	font-family: $font;
	font-size: 125%;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	& > .container {
    max-width: 1000px;
    margin: 50px auto;
  }
}

html {
	height: 100%;
}




//
// default linkage

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



//
// nav

.top-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: #3e3e43;
  will-change: transform;

  .list-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;

    strong {
      font-weight: 800;
    }

    a {
      margin-left: 25px;
      color: rgba(#fff, .5);
      text-decoration: none;
      cursor: pointer;
      transition: all .25s;

      &:hover {
        color: #fff;
      }
    }
  }
}

//
// thingie when no lists exist

.no-lists {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px dashed rgba(#fff, .25);
  background: #222129;
  transition: all .3s;
  opacity: 0;
  transform: scale(.5);
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  button {
		height: auto;
    padding: 16px 50px;
    font-size: $large;
    letter-spacing: 2px;
  }
}


//
// Input defaults

.input {
  display: inline-block;
  width: auto;
  min-width: 20px;
  padding: 0;
  border: none;
  background: transparent;
  color: #fff;
  font-family: $font;
	font-size: $medium;
  outline: none;

  &.empty {
    box-shadow: 0 0 5px rgba(red, .2);
  }
}
