main-nav {
  display: none;
}

body {
  & > .container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;

    & > .lists {
      width: 66.6666%;
      padding-right: 50px;
    }

    & > .sidebar {
      position: sticky;
      width: 33.3333%;
      max-height: 100vh;
    }
  }
}

.lists {
  .list {

    &:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(#000, .1);
    }

    .list-header {
      margin-bottom: 20px;
      font-size: 150%;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .list-name {
        width: 80%;
        float: left;
      }

      .list-total {
        width: 20%;
        float: right;
        text-align: right;
      }
    }

    .units {
      list-style: none;
      margin: 0;
      padding: 0;

      .unit {
        position: relative;
        padding: 15px;

        &:nth-child(odd) { background: rgba(#000, .025); }
        &:nth-child(even) { background: rgba(#000, .0075); }

        & > .delete {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }

        .unit-type {
          margin-right: 10px;
          opacity: .5;
        }

        .unit-name {
          font-weight: 700;
        }

        .unit-points {
          float: right;
        }

        .wargear-items {
          list-style: none;
          margin: 0;
          padding: 0;

          .wargear-item {
            position: relative;
            margin-left: -25px;
            padding-left: 25px;
            font-size: 88%;

            & > .delete {
              width: 16px;
              height: 16px;
              margin: 0 2px 0 10px;
            }

            .wargear-name {}

            .wargear-points {
              float: right;
            }
          }
        }
      }
    }

    .list-footer {
      margin-top: 20px;
    }
  }

  .delete {
    float: right;
    display: inline-block;
    width: 15px;
    height: 15px;
    opacity: .1;
    transition: all .15s;
    cursor: pointer;

    &:hover {
      opacity: .4;
    }
  }
}

.sidebar {
  padding: 30px;
  border: 1px solid rgba(#000, .1);

  .list-nav {
    margin: 0 0 15px 0;
  }
}






input[type="text"],
input[type="number"] {
  display: inline-block;
  width: auto;
  min-width: 20px;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;

  &.empty {
    box-shadow: 0 0 5px rgba(red, .2);
  }
}

input.points {
  height: 20px;
  padding: 0 5px;
  background: $primary;
  border: none;
  border-radius: 500px;
  color: #fff;
  font-size: 70%;
  text-align: center;

  &:focus {
    background: #75afe2;
  }



  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 4px;
  border: 2px solid $primary;
  background: $primary;
  color: rgba(#fff, .75);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .15s;

  &:hover {
    color: #fff;
    background: mix($primary, $black, 90%);
    border-color: mix($primary, $white, 90%);
  }

  &.btn-warning {
    background: $alert-red;
    border-color: $alert-red;
  }
}

.btn-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
}