main-nav {
  display: none;
}

body {
  & > .container {
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (min-width: 1025px) {
      display: flex;
      align-items: flex-start;
    }

    & > .lists {
      @media (min-width: 1025px) {
        width: 66.6666%;
        padding-right: 50px;
      }
    }

    & > .sidebar {
      margin-top: 30px;

      @media (min-width: 1025px) {
        position: sticky;
        width: 33.3333%;
        max-height: 100vh;
        margin-top: 0;
      }
    }
  }
}

.no-lists {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  transition: all .4s;
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  button {
    padding: 4px 60px;
    font-size: 40px;
    font-weight: 300;
    text-transform: none;
  }
}

.lists {
  &.copymode-active {
    user-select: none;
    pointer-events: none;

    input {
      user-select: none;
    }
  }

  .list {

    &:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(#000, .1);
    }

    .list-header {
      margin-bottom: 15px;
      font-size: 150%;
      line-height: 1;

      @media (max-width: 1024px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .list-name {
        width: 80%;
        float: left;
      }

      .list-total {
        width: 20%;
        float: right;
        text-align: right;
      }
    }

    .list-buttons {
      margin-bottom: 20px;

      @media (max-width: 1024px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .units {
      list-style: none;
      margin: 0;
      padding: 0;
      border: 1px solid rgba(#000, .1);

      .dndPlaceholder {
        display: block;
        height: 0;
        border-top: 2px dashed $primary;
      }

      .unit {
        position: relative;
        padding: 15px;

        &:nth-child(odd) { background: rgba(#000, .025); }
        &:nth-child(even) { background: rgba(#000, .0075); }

        &:hover {
          .move-container {
            opacity: 1;
            transform: none;
          }
        }

        &.dndDraggingSource {
          display: none;
        }

        .move-container {
          position: absolute;
          top: 10px;
          right: 100%;
          padding: 0 6px;
          opacity: 0;
          transform: translateX(-10px);
          transition: all .25s;

          div {
            line-height: 1;
            cursor: pointer;
            opacity: .5;
            transtion: all .25s;

            &:hover {
              opacity: .75;
            }
          }
        }

        & > .delete {
          width: 20px;
          height: 20px;
          margin-left: 8px;
        }

        .unit-type {
          margin-right: 10px;
          opacity: .5;
        }

        .unit-name {
          font-weight: 700;
        }

        .unit-points {
          float: right;

          &::placeholder {
            color: #fff;
          }
        }

        .wargear-items {
          list-style: none;
          margin: 0;
          padding: 0;

          .wargear-item {
            position: relative;
            margin-left: -25px;
            padding-left: 25px;
            font-size: 88%;

            & > .delete {
              width: 16px;
              height: 16px;
              margin: 0 2px 0 10px;
            }

            .wargear-name {}

            .wargear-points {
              float: right;
            }
          }
        }
      }
    }
  }

  .delete {
    float: right;
    display: inline-block;
    width: 15px;
    height: 15px;
    opacity: .33;
    transition: all .15s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.sidebar {
  padding: 15px 20px;
  border: 1px solid rgba(#000, .1);

  .list-nav {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;

    li {
      a {
        font-size: 15px;
        opacity: .8;
        cursor: pointer;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }

  small {
    display: block;
    margin-top: 20px;
    opacity: .5;
  }
}






input[type="text"],
input[type="number"] {
  display: inline-block;
  width: auto;
  min-width: 20px;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;

  &.empty {
    box-shadow: 0 0 5px rgba(red, .2);
  }
}

input.points {
  height: 20px;
  padding: 0 5px;
  background: $primary;
  border: none;
  border-radius: 500px;
  color: #fff;
  font-size: 70%;
  text-align: center;

  &:focus {
    background: #75afe2;
  }



  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 4px;
  border: 2px solid $primary;
  background: $primary;
  color: rgba(#fff, .75);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .15s;
  outline: none;

  &:hover {
    color: #fff;
    background: mix($primary, $black, 90%);
    border-color: mix($primary, $white, 90%);
  }

  &.btn-warning {
    background: $alert-red;
    border-color: $alert-red;
  }
}

.btn-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
}



.copy-mode-container {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  font-size: 80%;
  transition: all .25s;
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;

  &.copymode-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  .container {
    position: relative;
    max-width: 760px;
    height: 100%;
    overflow: auto;
    padding: 30px;
    background: #fff;

    .close-copy-mode {
      position: absolute;
      top: 30px;
      right: 30px;
      padding: 4px 16px;
      border-radius: 100px;
      background: $primary;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: lighten($primary, 5%);
      }

      &:active {
        background: darken($primary, 5%);
      }
    }

    h3 {
      padding-right: 80px;
    }
  }
}